@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: hsla(213, 77%, 14%, 1);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#08203E", endColorstr="#557C93", GradientType=1 );
}

button {
  width: 75px;
  height: 75px;
  font-size: 2rem;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 0.8);
  box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.3);
  transition: all 0.6s;
  border: none;
}

button:hover {
  background-color: rgba(240, 248, 255, 0.9);
  color: black;
  transform: scale(1.05);
}

button.btn-clear,
button.btn-insert.dot {
  width: inherit;
}

.calculator {
  background: hsla(312, 66%, 76%, 1);
  background: linear-gradient(
    135deg,
    hsla(312, 66%, 76%, 1) 0%,
    hsla(234, 93%, 67%, 1) 100%
  );
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#EA98DA", endColorstr="#5B6CF9", GradientType=1 );
  height: 600px;
  width: 500px;
  box-shadow: 0px 35px 55px rgba(0, 0, 0, 0.9);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.display-value {
  font-size: 1.3rem;
  position: absolute;
  margin-top: 5px;
  color: rgba(255, 255, 255, 0.85);
}

.calc-display {
  text-align: end;
  width: 450px;
  height: 100px;
  padding: 5px 50px 5px 25px;
  border: 1px solid slateblue;
  background-color: rgba(106, 90, 205, 0.3);
  font-size: 4rem;
  box-shadow: inset -3px -7px 15px rgba(0, 0, 0, 0.3),
    inset 3px 7px 15px rgba(0, 0, 0, 0.3);
}

.calc-text {
  margin-top: 12px;
  padding-top: 7px;
  color: rgba(255, 255, 255, 0.85);
}

.calc-buttons {
  display: flex;
  justify-content: space-around;
  gap: 50px;
  width: 425px;
}

.calc-numbers {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.calc-operators {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
